<h1 class="text-3xl">Precios del servicio</h1>
<hr class="my-2">

<section>
    <p class="mb-4">
        Aenean elit turpis, porta hendrerit turpis volutpat, semper egestas ligula. Integer placerat venenatis sapien, non pellentesque eros elementum vitae. 
        Sed mollis, ligula nec pellentesque iaculis, ligula tellus viverra urna, at egestas lectus metus nec turpis.
        Vestibulum dolor libero, convallis eu posuere at, lobortis quis ipsum. Proin ligula nunc, pharetra id ipsum tincidunt, pharetra malesuada dolor. 
        Pellentesque porttitor nulla nec augue ornare accumsan. Quisque at dictum lorem. Nunc placerat mauris non orci lacinia, et aliquet dolor dictum. 
        Maecenas ac fringilla lectus. Nunc finibus ullamcorper tellus, vel imperdiet sapien ullamcorper sed. Morbi maximus efficitur ex, ut tristique sem tempus vitae. 
        Morbi ullamcorper tincidunt lectus consequat maximus. Proin diam eros, luctus eu lacus luctus, volutpat aliquam ante.
    </p>
</section>