<h1 class="text-3xl">Sobre la aplicacion</h1>
<hr class="my-2">

<section>
    <p class="mb-4">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non nulla eu ante faucibus interdum. Etiam consequat, neque ac tincidunt convallis, 
        ex ipsum sollicitudin ante, non sollicitudin lacus risus a orci. Phasellus gravida finibus elit ac tristique. Ut accumsan in ligula quis semper. 
        Fusce sit amet dolor efficitur est egestas facilisis. Etiam fermentum ligula vitae metus lacinia, non tincidunt enim porttitor. 
        Proin auctor purus ac nisl luctus consequat. Duis scelerisque erat at nunc tristique, a ullamcorper justo venenatis. 
        Vestibulum condimentum purus at enim fermentum rutrum. Donec eget ligula ornare, lacinia tortor ac, tempus quam. Curabitur sit amet ultrices felis.
    </p>
</section>